#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

h1 {
    size: 500px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#loveBox {
  position: fixed;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  transition: all 1s ease;
}

#loveBox.show {
    bottom: 50px;
    opacity: 1;
}

#jamniczek {
    width: 200px;
}

.buttons {
    transition: 0.5s;
}